

<div *ngFor="let quiz of quizzes; let index = index">
  <p (click)="showFinishedQuiz(quiz)">  {{quiz.quizName}}</p>

  <button class="btn btn-danger" (click)="clear(index)">X</button>
  <!-- Display quiz information here -->
</div>

<hr>

<div class="takeQuiz" *ngIf="selectedQuiz">
  {{selectedQuiz.quizName}}
  <form #gradeQuiz="ngForm" (ngSubmit)="onSubmit(gradeQuiz)">

    <div *ngFor="let question of selectedQuiz.questions; let i = index">

      <p>
        {{question.question}}
      </p>
      <p >
        <input type="radio" name="chosenAnswer-{{i}}" value="1" [(ngModel)]="question.chosenAnswer" [disabled]="gradeQuiz.submitted">
        {{question.answer1}}
      </p>
      <p >
        <input type="radio" name="chosenAnswer-{{i}}" value="2" [(ngModel)]="question.chosenAnswer" [disabled]="gradeQuiz.submitted">
        {{question.answer2}}
      </p>
      <p>
        <input type="radio" name="chosenAnswer-{{i}}" value="3" [(ngModel)]="question.chosenAnswer" [disabled]="gradeQuiz.submitted">
        {{question.answer3}}
      </p>
      <p>
        <input type="radio" name="chosenAnswer-{{i}}" value="4" [(ngModel)]="question.chosenAnswer" [disabled]="gradeQuiz.submitted">
        {{question.answer4}}
      </p>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="gradeQuiz.submitted" >Submit</button>
  </form>
  <button routerLink="/score" class="btn btn-success">See Your Score!</button>
</div>

