.container {
  display: flex;
  align-items: center;
  justify-items: center;

}

.question {
  width: 500px;

    }

  .temp {
    background-color: greenyellow;
    font-size: larger;
      padding-left: 30px;
  }
